header {
    background: #0078d7; 
    color: #fff; 
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: #fff; 
    font-size: 2.5em;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    opacity: 0; /* Bắt đầu với độ trong suốt */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* Hiệu ứng mờ dần và trượt */
    transform: translateX(100%); /* Bắt đầu từ bên phải */
}

body.loaded {
    opacity: 1; /* Hiển thị trang khi tải xong */
    transform: translateX(0); /* Trở về vị trí ban đầu */
}

body.unloading {
    transform: translateX(-100%); /* Trượt sang bên trái */
}

header {
    background: #0078d7;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h1, h2 {
    color: #0078d7;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    margin-top: 20px;
}

.physical-info {
    display: flex;
    gap: 20px; 
}

.physical-info p {
    margin: 0; 
}

#about p[data-lang="career"] {
    margin-top: 10px;
    font-style: italic;
    color: #555;
}

#career {
    background-color: #f9f9f9; 
}

#about p[data-lang="location"] {
    margin-top: 5px;
    /* font-weight: bold; */
    color: #444;
}

#qr-codes {
    text-align: center;
    margin: 20px auto;
}

.qr-item {
    margin: 20px 0;
}

.qr-item img {
    width: 200px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#toggle-lang {
    margin-top: -100px; /* Đẩy nút lên thêm 10px */
}